.button {
  border-radius: 4px;
  background-color: var(--books-orange);
  color: var(--books-blue);
  border: 1px solid transparent;
  outline: none;
  margin: 0 8px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--books-white);
    border-color: var(--books-orange);
  }
}

.button-type {
  &-small {
    width: 66px;
    padding: 4px 0;
    font-size: 10px;
  }

  &-medium {
    width: 75px;
    padding: 8px 0 7px 0;
    font-size: 12px;
  }

  &-large {
    width: 312px;
    padding: 16px 0;
    font-size: 16px;
  }

  &-secondary {
    border: 1px solid var(--books-blue);
    background-color: transparent;
  }

  &-info {
    background: var(--books-blue);
  }

  &-onboard {
    width: 157px;
    padding: 16px 0;
    font-size: 16px;
    border-radius: 8px;
  }

  &-transparent {
    width: auto;
    padding: 0;
    border: none;
    background: none;
  }

  &-auto {
    width: auto;
    padding: 8px;
  }
}

@media screen and (max-width: 500px) {
  .button {
    margin: 0;
  }
}
