.books {
  margin: 16px 0;
  padding: 0 16px;
  overflow-y: scroll;
  max-height: calc(100vh - 154px);

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 8px;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fef3c7;
  text-align: center;
  padding: 8px;

  &--title {
    margin: 8px 0;
  }

  &--text {
    margin: 8px 0;
    font-size: 14px;
  }

  &--image {
    max-height: 170px;
  }

  &--favorites {
    background-color: orange;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    > svg {
      margin-left: 8px;
    }

    &:hover {
      background-color: #fff;
      border: 2px solid orange;
    }
  }
}

@media screen and (max-width: 1200px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .book {
    &--title {
      font-size: 16px;
    }
  
    &--text {
      font-size: 12px;
    }
  
    &--image {
      max-height: 120px;
    }
  }
}

@media screen and (max-width: 768px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 480px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .book {
    &--text {
      width: 70%;
    }
  }
}