.books {
  margin: 16px 0;
  padding: 0 16px;
  overflow-y: scroll;
  max-height: calc(100vh - 154px);

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 8px;
  }

  &--favorites {
    max-height: calc(100vh - 84px);
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--books-light-yellow);
  text-align: center;
  padding: 8px;
  width: 100%;
  max-width: 500px;

  &--title {
    margin: 16px 0;

    &--detailed {
      font-size: 30px;
    }
  }

  &--text {
    margin: 8px 0;
    font-size: 14px;

    &--detailed {
      font-size: 20px;
    }
  }

  &--image {
    max-height: 170px;

    &--detailed {
      height: 400px;
    }
  }

  &--favorites {
    display: flex;
    align-items: center;
    margin: 8px 0;

    > svg {
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .book {
    &--title {
      font-size: 16px;

      &--detailed {
        font-size: 24px;
      }
    }

    &--text {
      font-size: 12px;

      &--detailed {
        font-size: 16px;
      }
    }

    &--image {
      max-height: 120px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .book {
    &--title {
      width: 70%;

      &--detailed {
        font-size: 20px;
      }
    }

    &--favorites {
      width: auto;
      padding: 8px;
    }
  }
}

@media screen and (max-width: 480px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .book {
    &--text {
      width: 70%;

      &--detailed {
        font-size: 14px;
      }
    }

    &--image {
      height: auto;
    }
  }
}
