.books {
  margin: 16px 0;
  padding: 0 16px;
  overflow-y: scroll;
  max-height: calc(100vh - 154px);

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 8px;
    padding: 4px 0;
  }

  &--favorites {
    max-height: calc(100vh - 84px);
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 12px;
  color: var(--books-black);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;

  &--wrapper {
    width: 100%;
    background-color: var(--books-light-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--detailed {
      max-width: 480px;
    }
  }

  &:hover {
    color: var(--books-black);
    box-shadow: 0 0 10px var(--books-orange);
    border-radius: 2px;
    overflow: hidden;

    > img {
      transform: scale(1.05);
    }
  }

  &--title {
    margin: 16px 0;
    font-size: 20px;

    &--detailed {
      font-size: 30px;
    }
  }

  &--text {
    margin: 8px 0;

    &--detailed {
      font-size: 20px;
    }
  }

  &--image {
    height: 170px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;

    &--detailed {
      height: 400px;
    }
  }

  &--favorites {
    display: flex;
    align-items: center;
    margin: 8px;

    > svg {
      margin-left: 8px;
    }
  }

  &--redirect-missing-image {
    font-size: 18px;
  }

  &--button {
    margin-bottom: 16px;
  }
}

.no-data {
  display: flex;
  justify-content: center;
}

.no-image {
  height: 300px;
}

@media screen and (max-width: 1200px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .book {
    &--title {
      font-size: 16px;

      &--detailed {
        font-size: 24px;
      }
    }

    &--text {
      font-size: 12px;

      &--detailed {
        font-size: 16px;
      }
    }

    &--image {
      height: auto;
      max-height: 200px;

      &--detailed {
        height: 300px;
        max-height: none;
      }
    }

    &--favorites {
      width: 200px;
      padding: 12px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .book {
    &--title {
      width: 70%;

      &--detailed {
        font-size: 20px;
      }
    }

    &--favorites {
      width: auto;
      padding: 8px;
    }

    &--image {
      &--detailed {
        height: auto;
        max-height: 200px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .books {
    &--wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .book {
    &--wrapper {
      &--detailed {
        margin: 0 16px;
      }
    }

    &--text {
      width: 70%;

      &--detailed {
        font-size: 14px;
      }
    }
  }
}
