.header {
  background-color: var(--books-light-green);
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  > a {
    color: var(--books-black);
    font-weight: 700;
    margin: 0 8px;
  }
}