:root {
  --opt-blue: #262262;
  --opt-red: #EA5300;
  --opt-dark-red: #B24008;
  --opt-orange: #FFBA09;
  --opt-dark-orange: #F48C07;
}

body,
html {
  margin: 0;
  padding: 0;
  font-style: normal;
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &.link-disabled {
    cursor: not-allowed;
    color: #afb6cd;

    &:hover {
      color: #afb6cd;
    }
  }
}

a:hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  /* background: #ffff26; */
  background: orange;
  border-radius: 2px;
}